<div class="left-bar">
  <div class="title"><i class="fa fa-circle-o fa-2x"></i>&nbsp;Merkury</div>
  <div class="bar-content">
    <a href="#" class="btn-bar"><div class="selected"></div><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
    <a href="#" class="btn-bar"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;Workflow</a>
    <a href="#"class="btn-bar"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;Statistics</a>
    <a href="#" class="btn-bar"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Calendar</a>
    <a href="#" class="btn-bar"><i class="fa fa-user"></i>&nbsp;&nbsp;Users</a>
    <a href="#" class="btn-bar"><i class="fa fa-cog"></i>&nbsp;&nbsp;Settings</a>
  </div>
</div>
